.pickers {
  width: 300px;
  text-align: center;
}
.react-datepicker__triangle{
  display: none;
}
.react-datepicker-popper{
  margin-top: 0px;
  margin-left: 44px;
}

.react-datepicker__month-container{
  width: 400px;
  border: 2px solid midnightblue;
  padding-bottom:40px ;
}

.react-datepicker__day{
  padding: 8px;
  width: 40px;
  font-size: 20px;
}

.react-datepicker__day-names>div{
  padding: 8px;
  width: 40px;
}
.react-datepicker__current-month{
  font-size: 30px;
}
.react-datepicker__navigation{
  font-size: 40px;
  padding-top: 10px;
  height: 80px;
  background-color: midnightblue;
}
.b{
  border: 1px solid red;
}
.fr{
    position:relative;
    top:-20px;
}
